<!DOCTYPE html>
<html xmlns:hx="http://purl.org/NET/hinclude" lang="es">
<head>
    <meta name="include_mode" content="async">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Consigna Dropbox</title>

    {% block stylesheet %}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('bundles/ucoconsigna/twbs/style/bootstrap.css') }}">
    <!-- Font awesome icon -->
    <link rel="stylesheet" href="{{ asset('bundles/ucoconsigna/css/font-awesome.css') }}">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="{{ asset('bundles/ucoconsigna/twbs/style/jquery-ui.css') }}">
    <!-- Calendar -->
    <link rel="stylesheet" href="{{ asset('bundles/ucoconsigna/twbs/style/fullcalendar.css') }}">
    <!-- prettyPhoto -->
    <link rel="stylesheet" href="{{ asset('bundles/ucoconsigna/twbs/style/prettyPhoto.css') }}">
    <!-- Star rating -->
    <link rel="stylesheet" href="{{ asset('bundles/ucoconsigna/twbs/style/rateit.css') }}">
    <!-- Date picker -->
    <link rel="stylesheet" href="{{ asset('bundles/ucoconsigna/twbs/style/bootstrap-datetimepicker.min.css') }}">
    <!-- jQuery Gritter -->
    <link rel="stylesheet" href="{{ asset('bundles/ucoconsigna/twbs/style/jquery.gritter.css') }}">
    <!-- CLEditor -->
    <link rel="stylesheet" href="{{ asset('bundles/ucoconsigna/twbs/style/jquery.cleditor.css') }}">
    <!-- Bootstrap toggle -->
    <link rel="stylesheet" href="{{ asset('bundles/ucoconsigna/twbs/style/bootstrap-switch.css') }}">
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{ asset('bundles/ucoconsigna/twbs/style/style.css') }}">
    <!-- Widgets stylesheet -->
    <link rel="stylesheet" href="{{ asset('bundles/ucoconsigna/twbs/style/widgets.css') }}">



    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="js/html5shim.js"></script>
    <![endif]-->


    <!-- Add custom CSS here -->
    <link href="{{ asset('bundles/ucoconsigna/css/local.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    {%  endblock %}

</head>

<body>

<!-- Topbar starts -->

<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">

        <!-- Menu button for smallar screens -->
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('homepage') }}" class="navbar-brand">Consigna <span class="bold">Dropbox</span></a>
        </div>
        <!-- Site name for smallar screens -->

        <!-- Navigation starts -->
        {% block navigation %}{% endblock %}

    </div>
</div>

<!-- Topbar ends -->

<!-- Main content starts -->
<div class="content">

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

        <div class="sidebar-inner">

            <!--- Sidebar navigation -->
            <!-- If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation. -->
            {% block sidebar %}{% endblock %}

        </div>

    </div>

    <!-- Sidebar ends -->
    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">
            <!-- Page heading -->
            <h2 class="pull-left">{% block title %}{% endblock %}
                <!-- page meta -->
                <span class="page-meta">{% block subtitle %}{% endblock %}</span>
            </h2>

            <!-- Breadcrumb -->
            <div class="bread-crumb pull-right">
                <a href="{{ path("homepage") }}"><i class="icon-home"></i> Inicio</a>
                <!-- Divider -->
                <span class="divider">/</span>
                <a href="#" class="bread-current">Dashboard</a>
            </div>

            <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->

        <div class="matter">
            <div class="container">

                <div class="page-content inset">
                    {% for status in ['success', 'info', 'danger', 'warning'] %}
                        {% for flashMessage in app.session.flashbag.get(status) %}
                            <div class="alert alert-{{ status }} alert-dismissable fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') and not is_granted('ROLE_ADMIN') %}
                        <div class="alert alert-warning alert-dismissable fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <p><strong>¡Atención!</strong> No tienes permisos de administrador para usar esta aplicación. Deberás
                                usar la consola para añadirlos con la siguiente orden:</p>
                            <p><code>php app/console fos:user:promote {{ app.user.uid }} ROLE_ADMIN</code></p>
                        </div>
                    {% endif %}
                    {% block body %}{% endblock %}

                </div>
            </div>

            <div class="widget-foot">
                <!-- Footer goes here -->
            </div>

        </div>
    </div>

    <!-- Mainbar ends -->
    <div class="clearfix"></div>

</div>
<!-- Content ends -->


{% block javascript %}


<!-- JS -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/jquery.js') }}"></script> <!-- jQuery -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/bootstrap.js') }}"></script> <!-- Bootstrap -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/jquery-ui-1.10.2.custom.min.js') }}"></script> <!-- jQuery UI -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/fullcalendar.min.js') }}"></script> <!-- Full Google Calendar - Calendar -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/jquery.rateit.min.js') }}"></script> <!-- RateIt - Star rating -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/jquery.prettyPhoto.js') }}"></script> <!-- prettyPhoto -->

<!-- jQuery Flot -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/excanvas.min.js') }}"></script>
<script src="{{ asset('bundles/ucoconsigna/twbs/js/jquery.flot.js') }}"></script>
<script src="{{ asset('bundles/ucoconsigna/twbs/js/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('bundles/ucoconsigna/twbs/js/jquery.flot.pie.js') }}"></script>
<script src="{{ asset('bundles/ucoconsigna/twbs/js/jquery.flot.stack.js') }}"></script>

<script src="{{ asset('bundles/ucoconsigna/twbs/js/jquery.gritter.min.js') }}"></script> <!-- jQuery Gritter -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/sparklines.js') }}"></script> <!-- Sparklines -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/jquery.cleditor.min.js') }}"></script> <!-- CLEditor -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/bootstrap-datetimepicker.min.js') }}"></script> <!-- Date picker -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/bootstrap-switch.min.js') }}"></script> <!-- Bootstrap Toggle -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/filter.js') }}"></script> <!-- Filter for support page -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/custom.js') }}"></script> <!-- Custom codes -->
<script src="{{ asset('bundles/ucoconsigna/twbs/js/charts.js') }}"></script> <!-- Custom chart codes -->


<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>

    <!-- Put this into a custom JavaScript file to make things more organized -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
</script>
{% endblock %}
</body>
</html>