{% block field_help %}
    {% if help is defined %}
        <span class="help-block">{{ help }}</span>
    {% endif %}
{% endblock %}

{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <span class="help-inline">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock  %}

{% block field_label %}
    {% spaceless %}
        {% set label_attr = attr|merge({'class': 'control-label'}) %}
        {{ block('generic_label') }}
    {% endspaceless %}
{% endblock  %}

{% block form_row %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {%  set error = 'error' %}
        {% else %}
            {% set error = '' %}
        {% endif %}
        {% if not attr.class is defined %}
            {% set class = 'col-sm-4' %}
        {% else %}
            {% set class = attr.class %}
        {% endif %}
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">{{ form_label(form) }}</label>
            <div class="col-sm-10">
                {{ form_widget(form, { 'attr': {'class': class } }) }}
                {{ form_errors(form) }}
                {{ block('field_help') }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
