{%  extends "UcoConsignaBundle::layout.html.twig" %}
{% import '::macros.html.twig' as widgets %}

{% block title %}Perfil de usuario{% endblock %}

{% set profile %}
<table class="table table-bordered">
    <tbody>
        <tr>
            <td>Nombre</td>
            <td>{{ profile['display_name'] }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ profile['email'] }}</td>
        </tr>
    </tbody>
</table>
{% endset %}

{% set pie %}
<div class="panel-body">
    <div id="dropbox-space-chart-donut"></div>
</div>
{% endset %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {{  widgets.tablebox('blue', 'Datos del usuario', profile) }}
        </div>
        <div class="col-md-6">
            {{  widgets.box('blue', 'Espacio Libre/Ocupado', pie) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
   {{ parent() }}
   <script>
       Morris.Donut({
           element: 'dropbox-space-chart-donut',
           formatter: function (y) { return y + " Gb" },
           data: [
               {label: "Espacio libre", value: {{ (quota / 2**30) | number_format(2) }} },
               {label: "Usado (compartido)", value: {{ (shared / 2**30) | number_format(2) }} },
               {label: "Usado (privado)", value: {{ (normal / 2**30) | number_format(2) }} }
           ]
       });
   </script>
{% endblock %}